@font-face {
  font-family: "ArialRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ArialRegular/ArialRegular.eot");
  src: url("../fonts/ArialRegular/ArialRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialRegular/ArialRegular.woff") format("woff"), url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype"); }

@font-face {
  font-family: "ArialBold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ArialBold/ArialBold.eot");
  src: url("../fonts/ArialBold/ArialBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialBold/ArialBold.woff") format("woff"), url("../fonts/ArialBold/ArialBold.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSansLight";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype"); }

* {
  margin: 0;
  padding: 0; }

html {
  min-height: 100%;
  min-width: 320px;
  position: relative; }

img {
  margin: 0;
  padding: 0; }

.bold {
  font-family: "ArialBold", sans-serif; }

body {
  max-width: 1008px;
  margin: 0 auto;
  font-family: "ArialRegular", sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: black;
  background-color: white; }

.header {
  display: table;
  width: 100%;
  max-width: 960px;
  margin: auto;
  padding: 20px 0;
  overflow: hidden;
  border-bottom: 1px solid #777;
  text-align: center; }
  .header input, .header span {
    display: block;
    float: left; }
  .header input {
    width: 90%; }
  .header span {
    width: 10%;
    height: 100%;
    vertical-align: baseline; }

.range-output {
  height: 100%;
  vertical-align: baseline; }

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: #00a651;
  border-radius: 1.3px; }

input[type=range]::-webkit-slider-thumb {
  height: 40px;
  width: 40px;
  border-radius: 22px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -18px; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  border-radius: 1.3px; }

input[type=range]::-moz-range-thumb {
  height: 40px;
  width: 40px;
  border-radius: 22px;
  background: #ffffff;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 40px 0;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  border-radius: 2.6px; }

input[type=range]::-ms-fill-upper {
  border-radius: 2.6px; }

input[type=range]::-ms-thumb {
  height: 40px;
  width: 40px;
  border-radius: 22px;
  background: #ffffff;
  cursor: pointer; }

input[type=range]:focus::-ms-fill-lower {
  background: #00a651; }

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd; }

input[type=range].range1::-webkit-slider-runnable-track {
  background: #00a651; }

input[type=range].range1::-webkit-slider-thumb {
  border: 2px solid #00a651; }

input[type=range].range1::-moz-range-track {
  background: #00a651; }

input[type=range].range1::-moz-range-thumb {
  border: 2px solid #00a651; }

input[type=range].range1::-ms-fill-lower {
  background: #00a651;
  border: 0.2px solid #00a651; }

input[type=range].range1::-ms-fill-upper {
  background: #00a651;
  border: 0.2px solid #00a651; }

input[type=range].range1::-ms-thumb {
  border: 2px solid #00a651; }

input[type=range].range2::-webkit-slider-runnable-track {
  background: #49743f; }

input[type=range].range2::-webkit-slider-thumb {
  border: 2px solid #49743f; }

input[type=range].range2::-moz-range-track {
  background: #49743f; }

input[type=range].range2::-moz-range-thumb {
  border: 2px solid #49743f; }

input[type=range].range2::-ms-fill-lower {
  background: #49743f;
  border: 0.2px solid #49743f; }

input[type=range].range2::-ms-fill-upper {
  background: #49743f;
  border: 0.2px solid #49743f; }

input[type=range].range2::-ms-thumb {
  border: 2px solid #49743f; }

input[type=range].range3::-webkit-slider-runnable-track {
  background: #aba000; }

input[type=range].range3::-webkit-slider-thumb {
  border: 2px solid #aba000; }

input[type=range].range3::-moz-range-track {
  background: #aba000; }

input[type=range].range3::-moz-range-thumb {
  border: 2px solid #aba000; }

input[type=range].range3::-ms-fill-lower {
  background: #aba000;
  border: 0.2px solid #aba000; }

input[type=range].range3::-ms-fill-upper {
  background: #aba000;
  border: 0.2px solid #aba000; }

input[type=range].range3::-ms-thumb {
  border: 2px solid #aba000; }

input[type=range].range4::-webkit-slider-runnable-track {
  background: #939190; }

input[type=range].range4::-webkit-slider-thumb {
  border: 2px solid #939190; }

input[type=range].range4::-moz-range-track {
  background: #939190; }

input[type=range].range4::-moz-range-thumb {
  border: 2px solid #939190; }

input[type=range].range4::-ms-fill-lower {
  background: #939190;
  border: 0.2px solid #939190; }

input[type=range].range4::-ms-fill-upper {
  background: #939190;
  border: 0.2px solid #939190; }

input[type=range].range4::-ms-thumb {
  border: 2px solid #939190; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1400px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 960px) {
  /**/
  body {
    margin: 0 20px; }
  .main-left {
    width: 25%; }
  .center {
    width: 75%; }
  .center-middle__img {
    width: 22%; }
    .center-middle__img:nth-child(n) {
      margin-left: 4%; }
    .center-middle__img:nth-child(4n+1) {
      margin-left: 0; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  /**/
  .header__logo {
    width: 92px;
    padding-right: 20px; }
  .header-content__left {
    padding-right: 20px; }
  .main-left {
    width: 34%; }
    .main-left__top ul {
      padding: 7px; }
  .center {
    width: 66%; }
  .center-middle__img {
    width: 26%; }
    .center-middle__img:nth-child(n) {
      margin-left: 11%; }
    .center-middle__img:nth-child(3n+1) {
      margin-left: 0; }
  .footer__left, .footer__center, .footer__right {
    width: 45%; }
  .footer__left {
    margin: 10px 5% 10px 0; }
  .footer__center {
    margin: 10px 0 10px 5%; }
  .footer__right {
    margin: 10px 0 10px 0; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
  body {
    margin: 0 10px; }
  .header__logo {
    width: 82px;
    padding: 0 10px 0 0; }
  .header-content__left {
    width: 40%;
    padding-right: 10px; }
  .header-content__right {
    width: 60%; }
  .main-left div:nth-child(n) {
    margin: 0 10px 10px 0; }
  .main-left div:last-child {
    margin: 0 10px 0 0; }
  .center-center__img {
    width: 29%; }
    .center-center__img:nth-child(n) {
      margin-left: 6.5%; }
    .center-center__img:nth-child(3n+1) {
      margin-left: 0; }
  .footer__left, .footer__center, .footer__right {
    float: none;
    width: 100%;
    margin: 10px auto; }
  .footer__right {
    text-align: center; }
    .footer__right__position-top, .footer__right__position-bottom {
      position: relative;
      display: inline-block; }
    .footer__right__position-bottom {
      margin-top: 25px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 440px) {
  /**/
  .main-left, .center {
    display: block;
    width: 100%; }
  .main-left div:nth-child(n) {
    display: inline-block;
    max-width: 211px;
    width: 48.3%;
    vertical-align: top; }
  .main-left div:last-child {
    margin: 0; }
  .main-left div:nth-child(2n+1) {
    margin: 0 1% 10px 0; }
  .main-left div:nth-child(2n) {
    margin: 0 0 10px 1%; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 960px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
